<div>
  <%= form_with(url: '/flights', method: 'get', local: true) do |f| %>
    <p> From: <%= f.collection_select(:from_airport_id, Airport.all, :id, :code) %> </p>
    <p> To: <%= f.collection_select(:to_airport_id, Airport.all, :id, :code) %> </p>
    <p> Passengers <%= select_tag(:passengers, options_for_select(1..4)) %> </p>


    <% available_flights = Flight.all.map do |flight|
                            [flight.departure_time, flight.id] if flight.departure_time > Time.now
                            end
    %>

    <p> Date: <%= select_tag(:id, options_for_select(available_flights)) %> </p>
    <%= submit_tag('Search')%>

  <% end %>

  <p> <%= params.inspect %> </p>
</div>

<div>
  <h1>Choose a  Flight</h1>
  <%= form_with url: '/bookings/new', method: 'get', local:true do |f| %>
    <% @flights.each do |flight| %>
      <%= f.radio_button :flight, flight.id, { required: 'required' } %>
      <span>
      <strong> Flight ID: <%= flight.id %>, </strong>
      <strong> Departure Time: <%= flight.departure_time.strftime('%l:%M %P') %>, </strong>
      <strong> Flight Duration: <%= (flight.arrival_time - flight.departure_time).round/3600 %> hrs</strong>
      </span>
    <% end %>

    <%= f.hidden_field(:passengers, :value => params[:passengers]) %>
    <p> <%= submit_tag('Book Flight')%> </p>
  <% end %>
</div>
